<link rel="stylesheet" href="index.css">
<script src="/js/dashboard.js"></script>
<div id ="header">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
            {{!-- <img src="/images/logo.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top"> --}}
                <span><b>PHONE STORE</b></span>
            </a>
            <div class="d-flex">
                {{> avatar}}
            </div>
    </div>
    </nav>
</div>

