#main{
    /* box-sizing: border-box; */
    padding: 0px 20px 0 20px;
    /* margin-top: 50px; */
    margin-left: 50px;
}
.container{
    padding: 10px;
}
#main .product_label{
    margin-top: 40px;
}
#toolbar input{
    height: 50px;
}

#header nav{
    top: 0;
    margin-left: 50px;
}