<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/product_slider.css">
    <script src="js/product_slider.js"></script>
</head>
<body>

    <div id = "product-slider" class = "d-flex align-items-center">
        <div id = "btn_navigator" class = "col-1">
            <input type ="button" id="product-prev" class = "btn btn-light" value = "<"> 
        </div>
        <div id="product-list" class= "col-10 d-flex">
            <div class="product border border-3 rounded-3 d-flex justify-content-center align-items-center">
                <div class ="product-img-container d-flex justify-content-center align-items-center">
                    <img src="/images/phone/apple/iphone-15-pro.png" class="product-img" alt="image">
                </div>
                
                
                <div class="card-body">
                    <h5 class="card-title">Product Name</h5>
                    <h5 class="card-text">price</h5>
                    <a href="#" class="btn btn-light d-grid">Details</a>
                </div>
            </div>
        </div>
        <div id="btn_navigator" class = "col-1">
            <input type ="button" id="product-next" class = "btn btn-light" value = ">">
        </div>
    </div>

</body>
</html>