<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    Click "Login Now" to login: 
    <a href = "http://localhost:5000/mail-track/{{token}}">LOGIN NOW</a>
    <br>
    If the link is expired please click here to get a new link:
    <a href = "http://localhost:5000/resendEmail/{{email}}">RESEND ACTIVATION EMAIL</a>
</body>
</html>